.card.project-card {
  background: #fffefd;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  --bs-card-bg: #fffefd;
  transition: all 0.4s ease;
  filter: saturate(1);
  transform: translate3d(0, 0px, 0);
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 140px;
  border: none;
}

.row.projects-row {
  width: 100%;
}

.card:hover {
  transition: all 0.4s ease;
  filter: saturate(1.2);
  transform: translate3d(0, -4px, 0);
}

.card-description {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: hsla(172, 95%, 18%, 1);
  }
  p {
    font-size: 14px;
    color: hsla(171, 15%, 35%, 1);
  }
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.now-playing-card {
  display: flex;
  background: hsla(171, 15%, 35%, 1);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 10px;
  color: #fffefd;

  .song-info-col {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  p {
    margin: 0;
    font-size: 0.85rem;
  }

  #song-artist {
    margin-bottom: 1rem;
  }

  .scrubber {
    width: 75%;
    margin: 0 auto;
  }

  .seconds-played {
    position: relative;
    content: "";
    height: 6px;
    display: block;
    background: #fffefd;
    border-radius: 10px;
    top: 6px;
  }

  .total-seconds {
    position: relative;
    content: "";
    height: 6px;
    display: block;
    background: #d9d9d9;
    opacity: 0.3;
    border-radius: 10px;
  }

  .album-art-col {
    align-self: center;
  }
}

.working-to-title {
  text-align: right;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start from 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees (full rotation) */
  }
}

.spin {
  animation: spin 20s linear infinite;
  -webkit-animation: spin 20s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); /* Start from 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees (full rotation) */
  }
}
