@media (max-width: 768px) {
  #about {
    #about-text {
      padding: 25px;
      width: 100%;
    }

    #headshot {
      height: 210px;
    }
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  #about {
    #about-text {
      padding: 25px;
      width: 100%;
    }
  }
}
